@font-face {
    font-family: "BerkeleyMono-Regular"; /* Name you'll use in CSS */
    src: url("../global_assets/fonts/BerkeleyMono-Regular.ttf")
        format("truetype");
    font-weight: normal; /* Optional: normal, bold, 100-900 */
    font-style: normal; /* Optional: normal, italic */
}
body {
    font-family: "BerkeleyMono-Regular", serif;
    background-color: #f1f1f1;
}
.nav {
    float: left;
    font-family: "Merriweather", serif;
    display: block;
    width: 100%;
    margin: 0 0 0em 0;
    padding: 0;
}
.nav li {
    float: right;
    list-style: none;
    border-radius: 1px solid #ccc;
    font-size: 1.5em;
}
.nav li a {
    display: block;
    padding: 0px 15px;
    text-decoration: underline;
    font-weight: 700;
    color: #04859d;
}
.nav li a:hover {
    background-color: #fff;
}

.inbox {
    padding-top: 100px;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    background: #f9f9f9;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family: "helvetica neue";
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #d1e2ff;
}
