@import url('https://fonts.googleapis.com/css?family=Merriweather');
html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

.nav {
	float: right;
	font-family: "Merriweather", sans-serif;
	display: block;
	width:100%;
	padding:0;
	margin-top: 0px;
}
.nav li {
	float: right;
	list-style: none;
	font-size: 2.5em;
}
.nav li a {
	display: block;
	padding: 0px 15px;
	text-decoration: underline;
	font-weight: 700;
	color:#04859D;
}
.nav li a:hover {
	background-color: #fff;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
}

.keys {
  display: block;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  float: left;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}