@font-face {
    font-family: 'BerkeleyMono-Regular';  /* Name you'll use in CSS */
    src: url('../global_assets/fonts/BerkeleyMono-Regular.ttf') format('truetype'); 
    font-weight: normal;        /* Optional: normal, bold, 100-900 */
    font-style: normal;         /* Optional: normal, italic */
    }
body {
    font-family: 'BerkeleyMono-Regular', serif;
    background-color: #F1F1F1;
}
.nav {
    float: left;
    font-family: 'Merriweather', serif;
    display: block;
    width:100%;
    margin: 0 0 0em 0;
    padding:0;
}
.nav li {
    float: right;
    list-style: none;
    border-radius: 1px  solid #ccc;
    font-size: 1.5em;
}
.nav li a {
        display: block;
        padding: 0px 15px;
        text-decoration: underline;
        font-weight: 700;
        color:#04859D;
}
.nav li a:hover {
        background-color: #fff;
}


.align-right {
    float: right;
    margin-left: 20px;
}

.slide-in {
    opacity: 0;
    transition: all .5s;
}

.align-left.slide-in {
      transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
    transform: translateX(30%) scale(0.95);
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}