@font-face {
            font-family: 'BerkeleyMono-Regular';  /* Name you'll use in CSS */
            src: url('../global_assets/fonts/BerkeleyMono-Regular.ttf') format('truetype'); 
            font-weight: normal;        /* Optional: normal, bold, 100-900 */
            font-style: normal;         /* Optional: normal, italic */
        }

body {
    font-family: 'BerkeleyMono-Regular', sans-serif;
    background-color: #F1F1F1;
    text-align: center;
    /* font-family: 'helvetica neue', sans-serif; */
}
.nav {
        float: left;
        font-family: 'Merriweather', serif;
        display: block;
        width:100%;
        margin: 0 0 0em 0;
        padding:0;
}
.nav li {
        float: right;
        list-style: none;
        border-radius: 1px  solid #ccc;
        font-size: 1.5em;
}
.nav li a {
        display: block;
        padding: 0px 15px;
        text-decoration: underline;
        font-weight: 700;
        color:#04859D;
}
.nav li a:hover {
        background-color: #fff;
}

.emoji {
	font-family: "BerkeleyMono-Regular";
}

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}